<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Movie API</title>
	<link rel="icon" href="img/favicon.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="cover"><!-- ========COVER WITH IMAGE======== -->
		<h2>WHAT MOVIE<br>SHOULD I WATCH<br>TONIGHT?</h2>
	</div>
	<div class="pagination"><!-- =======TOP PAGINATION=========== -->
		<button ng-if="currentPage != pg1" ng-click="newPage(pg1)">{{pg1}}</button>
		<span ng-if="currentPage == pg1">{{pg1}}</span>
		<button ng-if="currentPage != pg2" ng-click="newPage(pg2)">{{pg2}}</button>
		<span ng-if="currentPage == pg2">{{pg2}}</span>
		<button ng-if="currentPage != pg3" ng-click="newPage(pg3)">{{pg3}}</button>
		<span ng-if="currentPage == pg3">{{pg3}}</span>
		<button ng-if="currentPage != pg4" ng-click="newPage(pg4)">{{pg4}}</button>
		<span ng-if="currentPage == pg4">{{pg4}}</span>
		<button ng-if="currentPage != pg5" ng-click="newPage(pg5)">{{pg5}}</button>
		<span ng-if="currentPage == pg5">{{pg5}}</span>
	</div>
	<div class="container"><!-- =======MAIN CONTAINER WITH MOVIES=========== -->
		<div class="card" ng-repeat="x in myWelcome.results | limitTo: limit">
			<div class="logo"><img ng-src="https://image.tmdb.org/t/p/original{{x.poster_path}}"></div>
			<div class="contentBx">
				<h2>{{x.original_title}}</h2>
				<p>Language <span>{{x.original_language}}</span></p>
				<p>Rating <span>{{x.vote_average | number:1}}</span></p>
				<button ng-click="readMore(x.id)">Read more</button>
			</div>
		</div>
	</div>
	<div class="movieInfo"><!-- ========LEFT SIDE MOVIE INFORMATION=========== -->
		<button ng-click="closeTab()">X</button>
		<img ng-src="https://image.tmdb.org/t/p/original{{oneVideo.poster_path}}">
		<h3>{{oneVideo.original_title}} [{{oneVideo.release_date}}]</h3>
		<span ng-repeat="genr in oneVideo.genres" id="genr">{{genr.name}}</span>
		<p class="overview">{{oneVideo.overview}}</p>
		<hr>
		<p>Popularity <span>{{oneVideo.popularity}}</span></p>
		<p>Language <span>{{oneVideo.original_language}}</span></p>
		<p>Rating <span>{{oneVideo.vote_average | number:1}}</span></p>
		<div class="stars">
			<i class="fas fa-star" ng-click="setRate(1)"></i>
			<i class="fas fa-star" ng-click="setRate(2)"></i>
			<i class="fas fa-star" ng-click="setRate(3)"></i>
			<i class="fas fa-star" ng-click="setRate(4)"></i>
			<i class="fas fa-star" ng-click="setRate(5)"></i>
			<i class="fas fa-star" ng-click="setRate(6)"></i>
			<i class="fas fa-star" ng-click="setRate(7)"></i>
			<i class="fas fa-star" ng-click="setRate(8)"></i>
			<i class="fas fa-star" ng-click="setRate(9)"></i>
			<i class="fas fa-star" ng-click="setRate(10)"></i>
		</div>
		<div class="loadingAnim" ng-if="animSpinner">
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div>
	<div ng-if="limit == 6" class="load"><button ng-click="loadMore()">Load more...</button></div>
	<div ng-if="limit != 6" class="pagination"><!-- ==========BOTTOM NAVIGATION========== -->
		<button ng-if="currentPage != pg1" ng-click="newPage(pg1)">{{pg1}}</button>
		<span ng-if="currentPage == pg1">{{pg1}}</span>
		<button ng-if="currentPage != pg2" ng-click="newPage(pg2)">{{pg2}}</button>
		<span ng-if="currentPage == pg2">{{pg2}}</span>
		<button ng-if="currentPage != pg3" ng-click="newPage(pg3)">{{pg3}}</button>
		<span ng-if="currentPage == pg3">{{pg3}}</span>
		<button ng-if="currentPage != pg4" ng-click="newPage(pg4)">{{pg4}}</button>
		<span ng-if="currentPage == pg4">{{pg4}}</span>
		<button ng-if="currentPage != pg5" ng-click="newPage(pg5)">{{pg5}}</button>
		<span ng-if="currentPage == pg5">{{pg5}}</span>
	</div>
	<div class="roulette" ng-click="showRoulette()"><i class="fas fa-random"></i></div>
	<div class="rouletteModal"><!-- ==========ROULETTE DIALOG============= -->
		<div class="rouletteClose" ng-click="closeRoulette()"><i class="fas fa-times"></i></div>
		<h2>Random movie by genre</h2>
		<div class="allGenres" ng-if="genreDialog"><!-- ==========SHOW ALL GENRES=========== -->
			<button ng-click="randomMovie(genr.id,genr.name)" ng-repeat="genr in genres">{{genr.name}}</button>
		</div>
		<div class="randomMovie" ng-if="randomDialog"><!-- =========RANDOM MOVIE INFORMATION============== -->
			<div class="genr"><i ng-click="randomBack()" class="fas fa-chevron-left"></i><i class="fas fa-sync" ng-click="refreshRandomMovie()"></i></div>
			<p class="lookingFor"><i class="fas fa-eye"></i> <span>{{randomSelectGenr}}</span></p>
			<h3 class="randomTitle">{{randomMovieInfo.original_title}} [{{randomMovieInfo.release_date}}]</h3>
			<img ng-if="randomImage" ng-src="https://image.tmdb.org/t/p/original{{randomMovieInfo.poster_path}}">
			<p class="rating">Rating <span>{{randomMovieInfo.vote_average | number:1}}</span></p>
			<p class="lang">Language <span>{{randomMovieInfo.original_language}}</span></p>
			<hr>
			<p class="randomOverview">{{randomMovieInfo.overview}}</p>
		</div>
		<div class="loadingAnim" ng-if="animSpinner">
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>